/* You can add global styles to this file, and also import other style files */

    /*background: #232526;  
    background: -webkit-linear-gradient(to left, #282829, #232526);
    background: linear-gradient(to left, #282829, #232526); */

    /*background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

    /*background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
    

    

        
