/* You can add global styles to this file, and also import other style files */

/*background: #232526;  
    background: -webkit-linear-gradient(to left, #282829, #232526);
    background: linear-gradient(to left, #282829, #232526); */

/*background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

/*background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */

     
:root{

/* COLOR FONTS */

--color-content: #f5f5f5;
--color-container-card:#8c60be;
--color-button: #7208b9;

/* FONS SIZE */

--title-content:20px;
--sub-text-content:16px;
--title-text:18px;
--sub-text:14px;

/* BORDER COLORS */

--borde-content:#fc4e67;
--options:#333;
}



*,
*:before,
*:after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    width: 100%;
}
