<!-- SORT-BY MOVIES -->
<section class="principal-content-filter">
  <div class="container-filter">
    <h4 class="genres"> GENRES MOVIES </h4>
    <hr>
</div>
  <div class="content-select-filter">
    <p class="sort-select-filter">SORT-BY:</p>
    <select [(ngModel)]="selectSortGenre" (change)="onSortMovieGenres()"class="custom-select-filter" required>
      <option value="popularity.asc">popularity.asc</option>
      <option value="popularity.desc">popularity.desc</option>
      <option value="vote_average.asc">vote_average.asc</option>
      <option value="vote_average.desc">vote_average.desc</option>
      <option value="original_title.asc">Title (A-Z)</option>
      <option value="original_title.desc">Title (Z-A)</option>
    </select>
  </div>
</section>

<!-- GENRES MOVIES -->
<div class="content-select">
  <div id="genreSelect" class="genre-buttons">
    <button *ngFor="let genre of genres" (click)="onGenreSelect(genre.id)">
      {{ genre.name }}
    </button>
  </div>
</div>


<!--CADS - MOVIES ANGULAR MATERIAL-->
<div class="container-card">
  <div class="card" *ngFor="let movie of movies">
    <div class="cta">
      <ng-container *ngIf="movie.poster_path">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
      </ng-container>
      <div class="card__content">
        <div class="header">
          <mat-card-title class="mat-card-title">{{ movie.title }}</mat-card-title>
          <mat-card-subtitle>{{ movie.release_date | date:'dd-MMM-yyyy' }}</mat-card-subtitle>
        </div>
        <p class="vote-card">Vote:<span class="material-icons">grade</span> {{ movie.vote_average }}</p>

        <button class="card__button"><a [routerLink]="['/movie', movie.id]">Ver detalles</a></button>
      </div>
    </div>
  </div>


<!--PAGINATOR THE MOVIES GENRES-->

<mat-paginator [length]="totalPagesGenre" [pageSize]="pageSizeGenre" [pageIndex]="currentPageGenre - 1"
  (page)="onPageChange($event)" [pageSizeOptions]="[5, 10, 25, 50, 100]" class="full-width-paginator">
</mat-paginator>






  



  