<!-- nav-menu.component.html -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>MovieChallenge</h1>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" style="width: 180px;">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/movies-list']">
        <mat-icon mat-list-icon>home</mat-icon>
        Home
      </mat-list-item>
      <mat-list-item [routerLink]="['/movies-filter']">
        <mat-icon mat-list-icon>movie_filter</mat-icon>
        Movies
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-container>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>



</mat-sidenav-container>