.content-div{
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.title-sidenav{
    color: #f5f5f5;
    font-weight: normal;
    padding: 1rem;
}
.content-input{
    width: 65%;
    margin: 30px auto;
}

/* Archivo CSS o SCSS */
mat-sidenav-container {
    height: 100%;
  
    mat-sidenav {
      mat-nav-list {
        .menu-item {
          margin-left: 8px;
        }
  
        .chevron-button {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
        }
  
        .chevron-button.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
