 /* movie-list.component.scss */
 .principal-content {
   display: grid;
   grid-template-columns: repeat(
    auto-fit,
    minmax(1,1fr)
    );
   gap: 20px;
 }

 /*.container-card{
   display: grid;
   grid-template-columns: repeat(
    auto-fit,
    minmax(5,1fr)
    );
   gap: 20px;
 }*/

 .container-list {
   margin: 20px;

 }

 .discover {
   color: #f5f5f5;
   font-size: 18px;
   font-weight: 500;
   line-height: 10px;
 }

 .separator-list {
   width: 35%;
   border-color: #fc4e67;
   height: 2px;
   border-style: solid;
   animation: separator-width 1s ease-out forwards;

   @keyframes separator-width {
     0% {
       width: 0;
     }

     100% {
       width: 100%;
     }
   }
 }

 .content-select {
   padding: 20px;
   display: flex;
   justify-content: flex-end;

   .sort-select {
     margin: 10px;
     color: #f5f5f5;
     font-size: 14px;
   }
 }

 .custom-select {
   border: 1px solid #f5f5f5;
   border-radius: 5px;
   background-color: transparent;
   color: #f5f5f5;
   padding: 5px;

   option {
     background-color: #333;
     /* Cambia el color de fondo de las opciones */
   }
 }

/*.container-card{
   display: grid;
   grid-template-columns: repeat(
    auto-fit,
    minmax(5,1fr)
    );
   gap: 20px;
 }*/

 .container-card {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .card {
   position: relative;
   margin: 20px;
   width: 280px;
   height: 480px;
   aspect-ratio: 16/9;
   background-color: #8c60be;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   perspective: 1000px;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

   img {

     width: 280px;
     height: 480px;
     fill: #333;
     transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }

   &:hover {
     transform: scale(1.05);
     box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
   }

 }


 .card__content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 20px;
   box-sizing: border-box;
   background-color: rgba(rgb(88, 85, 85), 0.75);
   transform: rotateX(-90deg);
   transform-origin: bottom;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   display: flex;
   flex-direction: column;
 }

 .card:hover .card__content {
   transform: rotateX(0deg);
 }

 .header {
   display: flex;
   flex-direction: column;

 }

 mat-card-title {
   font-size: 20px;
   color: #f5f5f5;
   font-weight: 700;
 }

 mat-card-subtitle {
   margin: 5px;
   font-size: 16px;
   font-weight: 500;
   color: #7208b9;
   line-height: 1.4;
 }

 .card__button {
   padding: 15px;
   border-radius: 8px;
   background: #7208b9;
   border: none;
   width: 50%;

   &:hover {
     background: #fc4e67;
   }

   a {

     text-decoration: none;
     color: #f5f5f5;
   }
 }

 .vote-card {
   color: #f5f5f5;
   font-size: 14px;
   display: inline;
   font-weight: 600;

   span {
     color: #ecde12;
     vertical-align: bottom;
   }
 }



 mat-mdc-select-value {
   color: #fc4e67;
 }

 ::ng-deep .mat-mdc-paginator-outer-container {
  background-color: #322d64bd;
  color: #fff;
 
}

::ng-deep .mat-mdc-paginator-range-actions{
  color: #f5f5f5;
}


::ng-deep .mat-mdc-select-value-text {
  color:#f5f5f5;

}
::ng-deep .mat-mdc-select-arrow svg {
  color: #f5f5f5;
}
::ng-deep .mdc-icon-button {

}

mat-paginator {
    color: #f5f5f5;
    grid-column: span 5;
    width: 100%;
    font-weight: 400;

}

@media screen and (max-width: 390px) {
  .card[_ngcontent-ng-c144783572]img[_ngcontent-ng-c144783572]  {
    width: 100%;
    height: 100%;
  }
  .card[_ngcontent-ng-c144783572]{
    width: 140px;
    height: 210px; 
  }

  
}

 

