<p>movie-list works!</p>

<!-- movie-list.component.html -->

<!--SELECT SORT-BY  - MOVIES ANGULAR MATERIAL-->

<h4>Descubre las nuevas peliculas</h4>
<mat-form-field>
  <mat-label>Ordenar por:</mat-label>
  <select matNativeControl required [(ngModel)]="selectSortOption" (change)="onSortMovie()">
    <option value="popularity.asc">popularity.asc</option>
    <option value="popularity.desc">popularity.desc</option>
    <option value="vote_average.asc">vote_average.asc</option>
    <option value="vote_average.desc">vote_average.desc</option>
    <option value="original_title.asc">Title (A-Z)</option>
    <option value="original_title.desc">Title (Z-A)</option>
  </select>
</mat-form-field>

<!--CADS - MOVIES ANGULAR MATERIAL-->
<div class="content-card">
  <div class="card-content" *ngFor="let movie of movies">
    <mat-card class="mat-card">
      <mat-card-subtitle>{{ movie.release_date | date:'dd-MMM-yyyy' }}</mat-card-subtitle>
      <ng-container *ngIf="movie.poster_path">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
      </ng-container>
      <mat-card-header class="mat-card-header">
        <mat-card-title>{{ movie.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Promedio de votación: {{ movie.vote_average }}</p>
        <p>Total de votos: {{ movie.vote_count }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <a [routerLink]="['/movie', movie.id]">Ver detalles</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




<!--PAGINATOR ANGULAR MATERIAL-->

<mat-paginator [length]="totalPages" [pageSize]="pageSize" [pageIndex]="currentPage - 1" (page)="onPageChange($event)" [pageSizeOptions]="[5,10, 25, 50, 100]">
</mat-paginator>
