<h4 class="details-titule">DETAILS MOVIES</h4>
<hr class="separator-details">


<!--<div *ngIf="movie" [ngStyle]="{'background-image': 'url(' + getBackdropUrl() + ')'}" class="backdrop-container">
  <div class="content-cards">
    <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
    <div class="header-details">
      <h1 class="movie-title">{{ movie.title }}</h1>
      <div class="body-details">
        <p class="date-details">{{ movie.release_date | date:'dd/MM/yyyy'}}</p>
        <p class="vote-details"><span class="material-icons">grade</span> {{ movie.vote_average }}</p>
      </div>
      <p class="genres-details"> {{ detailsGenres }}</p>
      <p class="overview-details">{{ movie.overview}}</p>
    </div>
  </div>
</div>-->

<div *ngIf="movie" class="backdrop-container">
  <div class="background" [ngStyle]="{'background-image': 'url(' + getBackdropUrl() + ')'}"></div>
  <div class="content-cards">
    <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
    <div class="header-details">
      <h1 class="movie-title">{{ movie.title }}</h1>
      <div class="body-details">
        <p class="date-details">{{ movie.release_date | date:'dd/MM/yyyy'}}</p>
        <p class="vote-details"><span class="material-icons">grade</span> {{ movie.vote_average }}</p>
      </div>
      <p class="genres-details"> {{ detailsGenres }}</p>
      <p class="overview-details">{{ movie.overview}}</p>
      <!-- Botón para abrir la ventana modal -->
      <button mat-button class="button" style="color: white;" (click)="openModal()"> Play
        <mat-icon>play_circle_outline</mat-icon>
      </button>

      <!-- Ventana modal -->
      <div *ngIf="isModalOpen" class="modal-overlay">
        <div class="modal-content">
          <button class="modal-close" (click)="closeModal()">Cerrar</button>
          <!-- Contenido del video aquí -->
          <iframe [src]="videoUrl" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>