<h4 class="search-titule">SEARCH MOVIES</h4>
<hr class="separator-search">


<!--<div class="container-fluid">
  <form class="form-search"  role="search" (ngSubmit)="onSearchMovie()" [formGroup]="searchForm">
    <mat-form-field >
      <input matInput  formControlName="texto" placeholder="Search movie" style="color:white;">
    </mat-form-field>
    <button class="btn-search" type="submit"><mat-icon>search</mat-icon></button>
  </form>
</div>-->

<div class="container-fluid">
  <form class="form-search" role="search" (ngSubmit)="onSearchMovie()" [formGroup]="searchForm">
    <div class="custom-form-field">
      <input class="input-content" type="text" formControlName="texto" placeholder="Search movie" style="color:white;">
      <button class="btn-search" type="submit" id="searchButton">
        <span class="material-icons">search</span>
      </button>
    </div>
  </form>
</div>

  <!-- Mostrar los resultados debajo del formulario -->
  <div *ngIf="searchResults.length > 0">
    <h3 class="result-search">Search results:</h3>
    <app-movie-list [movies]="searchResults"></app-movie-list>
  </div>
  