<p>search works!</p>


    <div class="container-fluid">
      <form class="d-flex" role="search" (ngSubmit)="onSearchMovie()">
        <mat-form-field class="example-full-width">
          <input matInput type="search" placeholder="Search" [(ngModel)]="texto" name="texto">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Search</button>
      </form>
    </div>

  
  <!-- Mostrar los resultados debajo del formulario -->
  <div *ngIf="searchResults.length > 0">
    <h3>Resultados de la búsqueda:</h3>
    <app-movie-list [movies]="searchResults"></app-movie-list>
  </div>
  